* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

.headerHOME {
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0;
  right: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 1em;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.headerHOME .menu_active {
  display: block; }

@-webkit-keyframes moveDown {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1; } }

@keyframes moveDown {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1; } }

.headerChange {
  background: #000; }

.logo {
  cursor: pointer;
  max-width: 34px; }

@media (max-width: 820px) {
  .logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); } }

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media (max-width: 820px) {
  .nav ul {
    display: none;
    position: absolute;
    top: 90%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 100vh;
    width: 100%;
    z-index: 9999;
    background: #000;
    -webkit-animation: moveDown 1s ease-in-out forwards;
    animation: moveDown 1s ease-in-out forwards; } }

.nav ul li {
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.92);
  opacity: 0.8;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }

@media (max-width: 820px) {
  .nav ul li {
    padding: 25px 20px 8px;
    margin: 1em 1.5em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    font-size: 17px;
    text-transform: capitalize; } }

.nav ul li:hover {
  opacity: 1; }

.nav ul li:not(:last-child) {
  margin-right: 1em; }

.nav ul li a {
  color: rgba(255, 255, 255, 0.92); }

.fllw {
  cursor: pointer; }

.plus-wndw {
  position: absolute;
  top: 90%;
  right: 1%;
  width: 250px;
  height: 375px;
  padding: 19px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #d2d2d7;
  -webkit-transform: translateX(150%);
  -ms-transform: translateX(150%);
  transform: translateX(150%);
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.plus-wndw iframe {
  width: 212px;
  height: 212px;
  border-radius: 5px; }

.plus-wndw .followUs {
  margin-top: 35px; }

.plus-wndw .followUs p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 7px;
  text-transform: uppercase;
  color: #6e6e73; }

.plus-wndw .followUs svg {
  fill: #444;
  margin-right: 17px;
  cursor: pointer; }

.plus-wndw .followUs svg:hover {
  fill: #06c; }

.plus-wndw .switchcontent {
  margin-top: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Poppins', sans-serif; }

.plus-wndw .switchcontent label {
  margin: 0 0.5em; }

.plus-wndw input[type='checkbox'] {
  --active: #275efe;
  --active-inner: #fff;
  --border: #5d5e66;
  --background: #fff58c;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 21px;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  cursor: pointer;
  border: 1px solid var(--bc, var(--border));
  background: var(--b, var(--background));
  -webkit-transition: background 0.3s, border-color 0.3s, -webkit-box-shadow 0.2s;
  transition: background 0.3s, border-color 0.3s, -webkit-box-shadow 0.2s;
  -o-transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s, -webkit-box-shadow 0.2s; }

.plus-wndw input[type='checkbox']:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  -o-transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease); }

.plus-wndw input[type='checkbox']:checked {
  --b: var(--active);
  --bc: var(--active);
  --d-o: 0.3s;
  --d-t: 0.6s;
  --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2); }

.plus-wndw input[type='checkbox'].switch {
  width: 38px;
  border-radius: 11px; }

.plus-wndw input[type='checkbox'].switch:after {
  left: 2px;
  top: 2px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: var(--ab, var(--border));
  -webkit-transform: translateX(var(--x, 0));
  -ms-transform: translateX(var(--x, 0));
  transform: translateX(var(--x, 0)); }

.plus-wndw input[type='checkbox'].switch:checked {
  --ab: var(--active-inner);
  --x: 17px; }

.wnd_active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

:root {
  --bar-bg: #fff; }

.menu-icon {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none; }

@media (max-width: 820px) {
  .menu-icon {
    display: block; } }

.menu-icon .menu-icon__cheeckbox {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index: 2;
  -webkit-touch-callout: none;
  position: absolute;
  opacity: 0; }

.menu-icon div {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 22px;
  height: 12px; }

.menu-icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--bar-bg, #000);
  border-radius: 1px;
  -webkit-transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
  -o-transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965); }

.menu-icon span:first-of-type {
  top: 0; }

.menu-icon span:last-of-type {
  bottom: 0; }

.menu-icon.active span:first-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:first-of-type {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 5px; }

.menu-icon.active span:last-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:last-of-type {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 5px; }

.menu-icon.active:hover span:first-of-type,
.menu-icon.active:hover span:last-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
  width: 22px; }

@media (min-width: 1024px) {
  .menu-icon:hover span:first-of-type {
    width: 26px; }
  .menu-icon:hover span:last-of-type {
    width: 12px; } }

.bg {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 400px;
  height: 600px;
  background-image: url("/img/cafeBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -999; }
